include header
section.about
  .profile
    .profile-image
      img alt="Picture of Vishal" src="https://avatars0.githubusercontent.com/u/232278?v=3&s=400"
    .profile-info
      h5 Vishal
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dignissimos id a nisi optio quia quas quidem sequi magnam architecto eos odio iure mollitia, nulla laudantium, commodi quos alias, et.
  .profile
    .profile-image
      img alt="Picture of Ram" src="https://avatars0.githubusercontent.com/u/5818258?v=3&s=400"
    .profile-info
      h5 Ram
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dignissimos id a nisi optio quia quas quidem sequi magnam architecto eos odio iure mollitia, nulla laudantium, commodi quos alias, et.
  .profile
    .profile-image
      img alt="Picture of Toan" src="https://avatars2.githubusercontent.com/u/13013084?v=3&s=400"
    .profile-info
      h5 Toan
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dignissimos id a nisi optio quia quas quidem sequi magnam architecto eos odio iure mollitia, nulla laudantium, commodi quos alias, et.
  .profile
    .profile-image
      img alt="Picture of Josh" src="https://avatars3.githubusercontent.com/u/6983719?v=3&s=400"
    .profile-info
      h5 Josh
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dignissimos id a nisi optio quia quas quidem sequi magnam architecto eos odio iure mollitia, nulla laudantium, commodi quos alias, et.
