    /*
  Colors
*/
    
    $background: #e1eef6;
    $dark: #c0392b;
    $primary: #fcbe32;
    $accent: #004e66;
    /* Variables & rainbow colors for gradient */
    
    $red: #c0392b;
    $orange: #e67e22;
    $yellow: #f1c40f;
    $green: #2ecc71;
    $blue: #3498db;
    $violet: #8e44ad;
    $duration: 20s;
    /*
	Global Styles
    */
    /* Support Flexbox with Lost Grid */
    
    @lost flexbox flex;
    body,
    html {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: "Karla", sans-serif;
        background: $background;
    }
    
    section {
        lost-utility: clearfix;
        lost-flex-container: row;
    }
    /* Redesign and banner-logo */
    
    body {
        background: linear-gradient(45deg, #fff, #ccc);
        /* padding: 50px; */
        color: #111;
        /*
    Text Mask
*/
        & .box {
            position: relative;
            font-family: "Fugaz One", sans-serif;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 0.8;
            margin: 0;
            background: linear-gradient(45deg, $red, $orange, $yellow, $green, $blue, $violet);
            background-size: 1200% 1200%;
            -webkit-animation: gradient $duration ease infinite;
            -moz-animation: gradient $duration ease infinite;
            animation: gradient $duration ease infinite;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            h1 {
                font-size: calc(50px + 20vmin);
                margin: 0;
                padding: 50px;
                line-height: 1;
                -webkit-background-clip: text;
                color: transparent;
                background-size: auto;
                background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #F1C40F 10px, #F1C40F 20px), linear-gradient(to bottom, #F3CB2B, #F3CB2B);
            }
            & span {
                font-size: .20em;
                line-height: .5em;
                display: block;
            }
            &.img {
                /* background-image: url(https://media.giphy.com/media/NEVT1WQFlHec8/giphy.gif); */
                /*
                 background-image: url(https://media.giphy.com/media/3o85xuMj18HeA47AZy/giphy.gif);
                background-size: auto 100%;
                background-position: center;
*/
                /* background-image: url(https://media.giphy.com/media/NEVT1WQFlHec8/giphy.gif); */
                /*                color: rgba(255, 255, 255, .5);*/
                /* background-size: auto; */
                /* -webkit-text-fill-color: transparent; */
                /* -webkit-background-clip: text; */
            }
        }
    }
    
    @-webkit-keyframes gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @media (max-width: 800px) {
        .img {
            background-size: 120%;
        }
    }
    /*
    Tagline
*/
    
    .tagline h3 {
        color: $accent;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
        background: url(../img/lightning.svg);
        background-size: 75px;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 100px;
        margin-top: -20px;
        padding-bottom: 100px;
        margin-bottom: -50px;
        span {
            font-size: 2rem;
            display: block;
            color: $dark;
            text-transform: uppercase;
        }
    }
    /*
	Navigation
*/
    
    .main-nav {
        display: flex;
        lost-center: 500px;
        margin-bottom: 0;
    }
    
    .main-nav a {
        text-decoration: none;
        color: $accent;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .main-nav li {
        align-self: center;
        margin-left: 12px;
        list-style: none;
    }
    /*
  Sections
*/
    
    section {
        lost-flex-container: column;
    }
    
    .title {
        font-size: 2em;
        lost-center: 500px;
        color: $dark;
    }
    
    .main-text {
        color: $accent;
        lost-center: 900px 10% flex;
        text-align: center;
    }
    /*
  About
*/
    
    h2 {
        margin: 20px;
    }
    /*
  Hire Us
*/
    /* Hire Button */
    
    .typeform-share {
        lost-center: 500px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: $dark;
        border: 1px solid $dark;
        padding: 5px 10px;
        border-radius: 2px;
        &:hover {
            background: rgba(#c0262d, 0.1);
        }
        &:active {
            background: rgba(#c0262d, 0.2);
        }
    }
    /*
    Footer
*/
    
    footer {
        & hr {
            width: 200px;
            margin-top: 50px;
        }
        & ul {
            list-style-type: none;
            text-align: center;
            padding: 0;
            & li {
                display: block;
                line-height: 2;
            }
        }
        & .zap-emoji {
            background: url(../img/zap-emoji.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            padding: 15px;
        }
    }
    
    @media(min-width: 500px) {
        footer {
            & ul li {
                display: inline-block;
                &:not(: last-child):after {
                    content: '/';
                    margin: 0 10px;
                }
            }
        }
    }